/* stylelint-disable declaration-no-important */

/* Dropdowns */
.dropdown-menu > li > a {
  padding: 3px 22px;
}

.dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.dropdown-menu > li > a {
  font-size: 13px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 4px;
  margin-bottom: 1px;
  margin-top: 1px
}

.dropdown-menu.dropdown-only-icon {
  min-width: 50px
}

.dropdown-menu.dropdown-only-icon > li {
  margin: 0 4px
}

.dropdown-menu.dropdown-only-icon > li > a .icon-2x {
  width: 36px
}

.dropdown-menu.dropdown-close {
  top: 92%;
  left: -5px
}

.dropdown-menu.dropdown-close.dropdown-menu-right {
  left: auto;
  right: -5px
}

.dropdown-menu.dropdown-closer {
  top: 80%;
  left: -10px
}

.dropdown-menu.dropdown-closer.dropdown-menu-right {
  right: -10px;
  left: auto
}

.dropup > .dropdown-menu, .navbar-fixed-bottom .dropdown > .dropdown-menu {
  top: auto !important;
  bottom: 100%
}

.dropup > .dropdown-menu.dropdown-close, .navbar-fixed-bottom .dropdown > .dropdown-menu.dropdown-close {
  bottom: 92%
}

.dropup > .dropdown-menu.dropdown-closer, .navbar-fixed-bottom .dropdown > .dropdown-menu.dropdown-closer {
  bottom: 80%
}

.dropdown-submenu > .dropdown-menu {
  border-radius: 0
}

.dropdown-submenu > a::after {
  margin-right: -5px
}

.dropdown-hover {
  position: relative
}

.dropdown-hover::before {
  display: block;
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: transparent
}

.dropdown-hover:hover > .dropdown-menu {
  display: block
}

.dropdown-menu > .dropdown-hover > .dropdown-menu {
  top: -5px;
  left: 99%;
  right: auto
}

.dropdown-menu > .dropdown-hover > .dropdown-menu.dropdown-menu-right {
  left: auto;
  right: 99%
}

.dropup .dropdown-menu > .dropdown-hover > .dropdown-menu, .dropdown-menu > .dropdown-hover.dropup > .dropdown-menu {
  top: auto;
  bottom: -5px
}

.dropdown-menu.dropdown-caret::before {
  border-bottom: 7px solid rgba(0, 0, 0, .2);
  -moz-border-bottom-colors: rgba(0, 0, 0, .2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px
}

.dropdown-menu.dropdown-caret::after {
  border-bottom: 6px solid #fff;
  -moz-border-bottom-colors: #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px
}

.dropdown-menu.dropdown-menu-right.dropdown-caret::before, .dropdown-menu.dropdown-caret-right.dropdown-caret::before {
  left: auto;
  right: 9px
}

.dropdown-menu.dropdown-menu-right.dropdown-caret::after, .dropdown-menu.dropdown-caret-right.dropdown-caret::after {
  left: auto;
  right: 10px
}

.dropup > .dropdown-menu.dropdown-caret::before, .navbar-fixed-bottom .dropdown > .dropdown-menu.dropdown-caret::before {
  border-bottom-width: 0;
  border-top: 7px solid rgba(0, 0, 0, .2);
  -moz-border-top-colors: rgba(0, 0, 0, .2);
  bottom: -7px;
  top: auto
}

.dropup > .dropdown-menu.dropdown-caret::after, .navbar-fixed-bottom .dropdown > .dropdown-menu.dropdown-caret::after {
  border-bottom-width: 0;
  border-top: 6px solid #fff;
  -moz-border-top-colors: #fff;
  bottom: -6px;
  top: auto
}
