a {
  color: $link-color;
}

a:hover, a:focus, a:active {
  text-decoration: none
}

/* 兼容bs4 */
.small, small {
  font-size: 80%;
}

ul, ol {
  margin: 0 0 10px 25px;
  padding: 0
}

ul {
  margin-left: 0;
}

li > ul, li > ol {
  margin-left: 18px
}

.list-unstyled, .list-inline {
  margin-left: 0
}

li.divider {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 0;
  font-size: 0
}

li.divider::before {
  content: "";
  display: inline-block
}

blockquote, blockquote.pull-right, .blockquote-reverse {
  border-color: #e5eaf1
}

.list-group {
  margin-left: auto
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.header {
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 18px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;
}

/* 废弃,使用文字代替 */
.action-buttons i {
  margin: 0 3px;
  display: inline-block;
}

.ui-menu {
  margin: 0;
}

.ui-menu li {
  list-style: none;
}

.badge-success {
  background-color: $brand-success;
}

.badge-danger {
  background-color: $brand-danger;
}
