@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $state-success-text);

@include text-emphasis-variant('.text-info', $state-info-text);

@include text-emphasis-variant('.text-warning', $state-warning-text);

@include text-emphasis-variant('.text-danger', $state-danger-text);

.page-header {
  margin: 0 0 12px;
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 16px;
}

.page-header h1 {
  padding: 0;
  font-size: 24px;
  font-weight: lighter;
  color: $link-color;
  margin: 0;
}

.page-header h1 small {
  margin: 0 6px;
  font-size: 14px;
}
