$brand-primary:         #0c86de !default;
$brand-success:         #5cb85c !default;
$brand-info:            #6FB3E0 !default;
$brand-warning:         #f28c48 !default;
$brand-danger:          #dd5a43 !default;

$state-info-text:       $brand-info !default;
$state-success-text:    $brand-success !default;
$state-warning-text:    $brand-warning !default;
$state-danger-text:     $brand-danger !default;
