$blue: #0c86de;
$green: #5cb85c;
$yellow: #f28c48;
$red: #dd5a43;
$secondary: #fff;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$navbar-light-hover-color: $blue;
$navbar-light-active-color: $blue;
$navbar-light-color: #333;

@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';

html {
  font-size: 14px;
}

/* .btn-default 用于兼容已有的类 */
.btn-secondary, .btn-default {
  @include button-variant($white, $border-color);
}

/* 兼容旧版 */
.navbar-brand {
  padding: 10px 0 10px 15px;
  font-size: inherit;
  margin-right: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 10px 15px 15px 15px;
}

.nav-link.dropdown-toggle::after {
  font-size: 13px;
}
