.filter-form .control-label {
  padding-right: 0;
  padding-left: 0;
}

/* 让表单更紧凑 */
.filter-form .form-group {
  margin-bottom: 10px;
}

.filter-form .form-group:last-child {
  margin-bottom: 0;
}

/* 选择项 */
.filter-item {
  line-height: 24px;
  margin-top: 4px;
  margin-right: 6px;
  padding: 0 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  color: inherit;
}

.filter-item:hover {
  border-color: #d5d5d5;
  color: inherit;
}

.filter-item:focus {
  color: inherit;
}

.filter-item.active {
  border-color: #428bca;
  color: #428bca;
  background: #fff;
}

/* 新的搜索表单 */
.search-form {
  padding: 16px 10px 10px 10px;
  margin-bottom: 16px;
}

.search-form::after {
  display: table;
  content: " ";
  clear: both;
}

.search-form .form-group {
  margin-bottom: 0;
}

.search-form > .form-group::before,
.search-form > .form-group::after {
  display: none;
}

.search-form .control-label {
  padding-right: 0;
  padding-left: 0;
}

/* 表单项换行时，上下留出空白 */
.search-form > .form-group .control-label,
.search-form > .form-group div {
  margin-bottom: 10px;
}
