// Core variables and mixins
@import "variables";

@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Core CSS
@import "type";
@import "scaffolding";
@import "tables";

// Components
@import "dropdowns";
@import "button-groups";
@import "navs";
@import "navbar";
@import "breadcrumbs";
@import "alerts";
@import "wells";
@import "sidebar";

// Components w/ JavaScript
@import "modals";

/* Forms */
/* todo bs4: p-y m-y bg-light */
.form-actions {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px 0 20px;
}
