// Core variables and mixins
@import "variables";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Type
.page-header {
  margin: 0 0 12px;
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 16px;
}

.page-header h1 {
  padding: 0;
  font-size: 24px;
  font-weight: lighter;
  color: $link-color;
  margin: 0;
}

.page-header h1 small {
  margin: 0 6px;
  font-size: 14px;
}

@import "scaffolding";

// Table
.table-center {
  text-align: center;
}

.table-center > thead > tr > th,
.table-center > tbody > tr > td,
.table-center > tfoot > tr > td {
  vertical-align: middle;
}

// Components
@import "dropdowns";
@import "button-groups";
@import "navs";
@import "navbar";
@import "breadcrumbs";
@import "alerts";
@import "wells";
@import "sidebar";

// Components w/ JavaScript
@import "modals";

// Forms
/* todo bs4: p-y m-y bg-light */
.form-actions {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px 0 20px;
}
