.form-horizontal .form-group {
  @include make-row();

  &.display-none {
    display: none;
  }
}

.control-label {
  @extend .col-form-label;
  @extend .text-sm-right;
}

.form-inline .form-group {
  margin-right: .5rem;
}

.radio-inline,
.checkbox-inline {
  @extend .col-form-label;
  display: inline-block;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 10px; // space out consecutive inline controls
}

.radio input,
.checkbox input {
  top: -1px;
  position: relative;
}

legend {
  border-bottom: 1px solid $border-color;
}
