.media-left {
  @extend .mr-2;
}

.form-horizontal .form-group {
  @extend .row;
}

.control-label {
  @extend .col-form-label;
  @extend .text-sm-right;
}

.form-control-static {
  @extend .form-control-plaintext;
}

.form-inline .form-group {
  margin-right: .5rem;
}

.radio-inline,
.checkbox-inline {
  @extend .col-form-label;
  display: inline-block;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 10px; // space out consecutive inline controls
}

.radio input,
.checkbox input{
  top: -1px;
  position: relative;
}
