// 淡化次要按钮
.btn-secondary {
  @include button-variant($white, $border-color);
}

.btn-default {
  @extend .btn-secondary;
}

/* Scroll up button */
.btn-scroll-up {
  border-width: 0;
  position: fixed;
  right: 2px;
  z-index: 99;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  opacity: 0;
  bottom: -24px;
  visibility: hidden
}

.btn-scroll-up.display {
  opacity: .7;
  bottom: 2px;
  visibility: visible
}

.btn-scroll-up:hover {
  opacity: 1;
}

.btn-scroll-up:focus {
  outline: 0
}
