/* stylelint-disable declaration-no-important */

/* Thumbnails */
.ace-thumbnails {
  list-style: none;
  margin: 0;
  padding: 0
}

.ace-thumbnails > li {
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  border: 2px solid #333
}

.ace-thumbnails > li > .tools {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.ace-thumbnails > li > .tools.tools-right {
  left: auto;
  right: -30px
}

.ace-thumbnails > li > .tools.tools-bottom {
  width: auto;
  height: 24px;
  left: 0;
  right: 0;
  top: auto;
  bottom: -26px
}

.ace-thumbnails > li > .tools.tools-top {
  width: auto;
  height: 28px;
  left: 0;
  right: 0;
  top: -30px;
  bottom: auto
}

.ace-thumbnails > li:hover > .tools {
  left: 0;
  right: 0
}

.ace-thumbnails > li:hover > .tools.tools-bottom {
  top: auto;
  bottom: 0
}

.ace-thumbnails.disabled > li:hover > .tools.tools-bottom {
  bottom: -30px;
}

.ace-thumbnails > li:hover > .tools.tools-top {
  bottom: auto;
  top: 0
}

.ace-thumbnails > li:hover > .tools.tools-right {
  left: auto;
  right: 0
}

.ace-thumbnails > li > .in.tools {
  left: 0;
  right: 0
}

.ace-thumbnails > li > .in.tools.tools-bottom {
  top: auto;
  bottom: 0
}

.ace-thumbnails > li > .in.tools.tools-top {
  bottom: auto;
  top: 0
}

.ace-thumbnails > li > .in.tools.tools-right {
  left: auto;
  right: 0
}

.ace-thumbnails > li > .tools > a, .ace-thumbnails > li > :first-child .inner a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0 4px
}

.ace-thumbnails > li > .tools > a:hover, .ace-thumbnails > li > :first-child .inner a:hover {
  text-decoration: none;
  color: #c9e2ea
}

.ace-thumbnails > li .tools.tools-bottom > a, .ace-thumbnails > li .tools.tools-top > a {
  display: inline-block
}

.ace-thumbnails > li > :first-child > .text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .55);
  opacity: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.ace-thumbnails > li > :first-child > .text::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0
}

.ace-thumbnails > li > :first-child > .text > .inner {
  padding: 4px 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 90%
}

.ace-thumbnails > li:hover > :first-child > .text {
  opacity: 1;
}

/* 图片选择器 */
.image-picker > li {
  position: relative;
  margin: 0 6px 6px 0;
  border: 1px solid #d5d5d5;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}

.image-picker.disabled > li {
  background: #eee;
  cursor: not-allowed;
}

.image-picker > .image-picker-select {
  border: 1px dashed rgb(170, 170, 170);
}

.image-picker > .image-picker-select:hover {
  border-color: rgb(245, 153, 66);
}

.image-picker-select:hover .image-picker-icon {
  color: rgb(245, 153, 66);
}

.image-picker-icon {
  font-size: 56px;
  color: #ccc;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-picker img {
  height: 100%;
}

/* Datepickers */
.datepicker td, .daterangepicker td, .datepicker th, .daterangepicker th {
  font-size: 13px
}

.datepicker td.active, .daterangepicker td.active, .datepicker td.active:hover, .daterangepicker td.active:hover {
  background: #2283c5 !important
}

.datepicker td.active.disabled, .daterangepicker td.active.disabled, .datepicker td.active.disabled:hover, .daterangepicker td.active.disabled:hover {
  background: #8b9aa3 !important
}

.datepicker td, .datepicker th {
  min-width: 32px
}

.datepicker-dropdown.datepicker-orient-bottom::after, .datepicker-dropdown.datepicker-orient-bottom::before {
  top: auto
}

.daterangepicker .calendar-date {
  border-radius: 0
}

.datepicker-months .month, .datepicker-years .year {
  border-radius: 0 !important
}

.datepicker-months .month.active, .datepicker-years .year.active, .datepicker-months .month.active:hover, .datepicker-years .year.active:hover, .datepicker-months .month.active:focus, .datepicker-years .year.active:focus, .datepicker-months .month.active:active, .datepicker-years .year.active:active {
  background-image: none !important;
  background-color: #2283c5 !important
}

.bootstrap-timepicker-widget table td input {
  width: 32px
}

.well .datepicker table tr td.day:hover { /* csslint allow: overqualified-elements */
  background-color: #7d8893;
  color: #fff
}

.bootstrap-timepicker-widget table td a:hover {
  border-radius: 0
}

.daterangepicker.opensleft::before, .daterangepicker.opensright::before {
  -moz-border-bottom-colors: rgba(0, 0, 0, .2)
}

.daterangepicker.opensleft::after, .daterangepicker.opensright::after {
  -moz-border-bottom-colors: #fff
}

.datepicker-dropdown::before {
  -moz-border-bottom-colors: rgba(0, 0, 0, .2)
}

.datepicker-dropdown::after {
  -moz-border-bottom-colors: #fff
}

.datepicker-dropdown.datepicker-orient-bottom::before {
  -moz-border-top-colors: #999
}

.datepicker-dropdown.datepicker-orient-bottom::after {
  -moz-border-top-colors: #fff
}

.bootstrap-timepicker-widget.dropdown-menu::before {
  -moz-border-bottom-colors: rgba(0, 0, 0, .2)
}

.bootstrap-timepicker-widget.dropdown-menu::after {
  -moz-border-bottom-colors: #fff
}

.bootstrap-timepicker-widget.timepicker-orient-bottom::before {
  -moz-border-top-colors: #999
}

.bootstrap-timepicker-widget.timepicker-orient-bottom::after {
  -moz-border-top-colors: #fff
}

.bootstrap-datetimepicker-widget [class=btn] { /* csslint allow: unqualified-attributes */
  border-width: 0 !important;
  background-color: transparent !important;
  color: #7399b8 !important;
  text-shadow: none !important
}

.bootstrap-datetimepicker-widget [class=btn]:hover { /* csslint allow: unqualified-attributes */
  color: #1b6aaa !important
}

.bootstrap-datetimepicker-widget .btn.btn-primary {
  border-width: 3px !important
}

.bootstrap-datetimepicker-widget .picker-switch {
  margin-bottom: 2px
}

.bootstrap-datetimepicker-widget .picker-switch .btn {
  width: 90% !important;
  background-color: #eee !important;
  color: #478fca !important;
  font-size: 16px
}

.bootstrap-datetimepicker-widget .picker-switch .btn:hover {
  background-color: #e3edf5 !important
}

.bootstrap-datetimepicker-widget td span {
  border-radius: 0
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  color: #555 !important
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 26px;
  min-width: 32px;
  max-width: 32px;
  text-align: center;
  cursor: pointer;
  color: transparent;
  line-height: 26px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.ui-datepicker .ui-datepicker-prev .ui-icon, .ui-datepicker .ui-datepicker-next .ui-icon {
  color: transparent;
  visibility: hidden
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
  background-color: #eee;
  text-decoration: none
}

.ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next::before {
  display: inline;
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f060";
  color: #393939
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 2px
}

.ui-datepicker .ui-datepicker-next::before {
  content: "\f061"
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px
}

.ui-datepicker td {
  padding: 0
}

.ui-datepicker td > a, .ui-datepicker td > span {
  display: inline-block;
  height: 22px;
  min-width: 24px;
  max-width: 24px;
  text-align: center;
  color: #393939;
  font-size: 13px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.ui-datepicker td > a:hover {
  background-color: #eee
}

.ui-datepicker td > a.ui-state-highlight { /* csslint allow: overqualified-elements */
  background-color: #d5e5ef
}

.ui-datepicker td > a.ui-state-active {
  background-color: #2283c5;
  color: #fff
}

.ui-datepicker td > a.ui-priority-secondary { /* csslint allow: overqualified-elements */
  color: #888
}

.ui-datepicker td > span {
  color: #999
}

.ui-datepicker td .ui-datepicker-title select {
  height: 24px;
  line-height: 24px;
  padding: 2px 3px
}

.ui-datepicker td .ui-datepicker-buttonpane {
  background-color: #ddd;
  height: 1px
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, .25);
  opacity: 1 !important;
  z-index: 1039 !important
}

.ui-menu {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 3px
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: auto
}

.ui-menu .ui-menu-item {
  padding: 5px 10px 6px;
  color: #444;
  cursor: pointer;
  display: block;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  width: auto; /* 修复100%超出 */
}

.ui-menu .ui-menu-item .ui-menu-icon {
  float: right;
  position: relative;
  left: auto;
  right: 4px;
  bottom: auto;
  text-indent: 0
}

.ui-menu .ui-menu-item .ui-menu-icon::before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 14px;
  display: inline
}

.ui-menu .ui-menu-item:hover, .ui-menu .ui-state-focus, .ui-menu .ui-state-active, .ui-menu .ui-menu-item:hover > .ui-menu-icon, .ui-menu .ui-state-focus > .ui-menu-icon, .ui-menu .ui-state-active > .ui-menu-icon {
  text-decoration: none;
  background-color: #4f99c6;
  color: #fff;
  margin: auto;
  font-weight: 400
}

.ui-menu .ui-menu-item:hover .ui-menu-icon, .ui-menu .ui-state-focus .ui-menu-icon, .ui-menu .ui-state-active .ui-menu-icon, .ui-menu .ui-menu-item:hover > .ui-menu-icon .ui-menu-icon, .ui-menu .ui-state-focus > .ui-menu-icon .ui-menu-icon, .ui-menu .ui-state-active > .ui-menu-icon .ui-menu-icon {
  color: #fff
}

.ui-menu .ui-state-disabled, .ui-menu .ui-state-disabled .ui-menu-icon {
  color: #999;
  cursor: default
}

.ui-menu .ui-state-disabled:hover, .ui-menu .ui-state-disabled.ui-state-focus, .ui-menu .ui-state-disabled.ui-state-active, .ui-menu .ui-state-disabled:hover .ui-menu-icon, .ui-menu .ui-state-disabled.ui-state-focus .ui-menu-icon, .ui-menu .ui-state-disabled.ui-state-active .ui-menu-icon {
  background-color: #fff;
  color: #999
}

.ui-menu {
  margin: 0;
}

.ui-menu li {
  list-style: none;
}

.ui-autocomplete {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

.ui-autocomplete-category {
  padding: 6px;
  position: relative;
  background-color: #eef4f9;
  color: #478fca;
  font-weight: bolder;
  border: 1px solid #dae6ed;
  border-width: 1px 0
}

/* 表单底部的操作按钮 */
.table-bottom-actions {
  padding: 15px 0;
}

/* 表单展示tooltip的列 */
.tooltip-col {
  padding-left: 0;
  padding-top: 6px
}

/* 日期范围选择器 */
.daterangepicker .ranges {
  width: 170px !important;
}

.daterangepicker .ranges .input-mini {
  width: 76px !important;
}

/* 适合显示日期的输入框 */
.form-inline .input-date {
  width: 110px;
}

/* 滑动插件 */
.ui-slider {
  background-color: #d5d5d5;
}

.ui-slider-horizontal {
  height: 9px;
}

.ui-slider-vertical {
  width: 9px;
}

.ui-slider .ui-slider-handle {
  border-radius: 0;
  width: 1.45em;
  height: 1.45em;
  background-color: #f8f8f8;
  border: 1px solid;
}

.ui-slider .ui-slider-handle:hover {
  background-color: #fff;
}

.ui-slider .ui-slider-handle:hover, .ui-slider .ui-slider-handle:focus, .ui-slider .ui-slider-handle:active {
  outline: 0;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3)
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.725em;
  top: -.4em
}

.ui-slider-vertical .ui-slider-handle {
  left: -.35em;
  margin-bottom: -.65em
}

/* 统一解决jQuery UI Datepicker被Bootstrap input-group, Ueditor挡住的问题 */
.hasDatepicker {
  position: relative;
  z-index: 50;
}

// Deprecated
.action-buttons i {
  margin: 0 3px;
  display: inline-block;
}
