/* stylelint-disable declaration-no-important */

/* Thumbnails */
.ace-thumbnails {
  list-style: none;
  margin: 0;
  padding: 0
}

.ace-thumbnails > li {
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 2px;
  border: 2px solid #333
}

.ace-thumbnails > li > .tools {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.ace-thumbnails > li > .tools.tools-right {
  left: auto;
  right: -30px
}

.ace-thumbnails > li > .tools.tools-bottom {
  width: auto;
  height: 24px;
  left: 0;
  right: 0;
  top: auto;
  bottom: -26px
}

.ace-thumbnails > li > .tools.tools-top {
  width: auto;
  height: 28px;
  left: 0;
  right: 0;
  top: -30px;
  bottom: auto
}

.ace-thumbnails > li:hover > .tools {
  left: 0;
  right: 0
}

.ace-thumbnails > li:hover > .tools.tools-bottom {
  top: auto;
  bottom: 0
}

.ace-thumbnails.disabled > li:hover > .tools.tools-bottom {
  bottom: -30px;
}

.ace-thumbnails > li:hover > .tools.tools-top {
  bottom: auto;
  top: 0
}

.ace-thumbnails > li:hover > .tools.tools-right {
  left: auto;
  right: 0
}

.ace-thumbnails > li > .in.tools {
  left: 0;
  right: 0
}

.ace-thumbnails > li > .in.tools.tools-bottom {
  top: auto;
  bottom: 0
}

.ace-thumbnails > li > .in.tools.tools-top {
  bottom: auto;
  top: 0
}

.ace-thumbnails > li > .in.tools.tools-right {
  left: auto;
  right: 0
}

.ace-thumbnails > li > .tools > a, .ace-thumbnails > li > :first-child .inner a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0 4px
}

.ace-thumbnails > li > .tools > a:hover, .ace-thumbnails > li > :first-child .inner a:hover {
  text-decoration: none;
  color: #c9e2ea
}

.ace-thumbnails > li .tools.tools-bottom > a, .ace-thumbnails > li .tools.tools-top > a {
  display: inline-block
}

.ace-thumbnails > li > :first-child > .text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .55);
  opacity: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease
}

.ace-thumbnails > li > :first-child > .text::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0
}

.ace-thumbnails > li > :first-child > .text > .inner {
  padding: 4px 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 90%
}

.ace-thumbnails > li:hover > :first-child > .text {
  opacity: 1;
}

/* 图片选择器 */
.image-picker > li {
  position: relative;
  margin: 0 6px 6px 0;
  border: 1px solid #d5d5d5;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}

.image-picker.disabled > li {
  background: #eee;
  cursor: not-allowed;
}

.image-picker > .image-picker-select {
  border: 1px dashed rgb(170, 170, 170);
}

.image-picker > .image-picker-select:hover {
  border-color: rgb(245, 153, 66);
}

.image-picker-select:hover .image-picker-icon {
  color: rgb(245, 153, 66);
}

.image-picker-icon {
  font-size: 56px;
  color: #ccc;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-picker img {
  height: 100%;
}

/* Datepickers */
.datepicker td, .daterangepicker td, .datepicker th, .daterangepicker th {
  font-size: 13px
}

.datepicker td.active, .daterangepicker td.active, .datepicker td.active:hover, .daterangepicker td.active:hover {
  background: #2283c5 !important
}

.datepicker td.active.disabled, .daterangepicker td.active.disabled, .datepicker td.active.disabled:hover, .daterangepicker td.active.disabled:hover {
  background: #8b9aa3 !important
}

.datepicker td, .datepicker th {
  min-width: 32px
}

.datepicker-dropdown.datepicker-orient-bottom::after, .datepicker-dropdown.datepicker-orient-bottom::before {
  top: auto
}

.daterangepicker .calendar-date {
  border-radius: 0
}

.datepicker-months .month, .datepicker-years .year {
  border-radius: 0 !important
}

.datepicker-months .month.active, .datepicker-years .year.active, .datepicker-months .month.active:hover, .datepicker-years .year.active:hover, .datepicker-months .month.active:focus, .datepicker-years .year.active:focus, .datepicker-months .month.active:active, .datepicker-years .year.active:active {
  background-image: none !important;
  background-color: #2283c5 !important
}

.bootstrap-timepicker-widget table td input {
  width: 32px
}

.well .datepicker table tr td.day:hover { /* csslint allow: overqualified-elements */
  background-color: #7d8893;
  color: #fff
}

.bootstrap-timepicker-widget table td a:hover {
  border-radius: 0
}

.daterangepicker.opensleft::before, .daterangepicker.opensright::before {
  -moz-border-bottom-colors: rgba(0, 0, 0, .2)
}

.daterangepicker.opensleft::after, .daterangepicker.opensright::after {
  -moz-border-bottom-colors: #fff
}

.datepicker-dropdown::before {
  -moz-border-bottom-colors: rgba(0, 0, 0, .2)
}

.datepicker-dropdown::after {
  -moz-border-bottom-colors: #fff
}

.datepicker-dropdown.datepicker-orient-bottom::before {
  -moz-border-top-colors: #999
}

.datepicker-dropdown.datepicker-orient-bottom::after {
  -moz-border-top-colors: #fff
}

.bootstrap-timepicker-widget.dropdown-menu::before {
  -moz-border-bottom-colors: rgba(0, 0, 0, .2)
}

.bootstrap-timepicker-widget.dropdown-menu::after {
  -moz-border-bottom-colors: #fff
}

.bootstrap-timepicker-widget.timepicker-orient-bottom::before {
  -moz-border-top-colors: #999
}

.bootstrap-timepicker-widget.timepicker-orient-bottom::after {
  -moz-border-top-colors: #fff
}

.bootstrap-datetimepicker-widget [class=btn] { /* csslint allow: unqualified-attributes */
  border-width: 0 !important;
  background-color: transparent !important;
  color: #7399b8 !important;
  text-shadow: none !important
}

.bootstrap-datetimepicker-widget [class=btn]:hover { /* csslint allow: unqualified-attributes */
  color: #1b6aaa !important
}

.bootstrap-datetimepicker-widget .btn.btn-primary {
  border-width: 3px !important
}

.bootstrap-datetimepicker-widget .picker-switch {
  margin-bottom: 2px
}

.bootstrap-datetimepicker-widget .picker-switch .btn {
  width: 90% !important;
  background-color: #eee !important;
  color: #478fca !important;
  font-size: 16px
}

.bootstrap-datetimepicker-widget .picker-switch .btn:hover {
  background-color: #e3edf5 !important
}

.bootstrap-datetimepicker-widget td span {
  border-radius: 0
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  color: #555 !important
}

/* 表单底部的操作按钮 */
.table-bottom-actions {
  padding: 15px 0;
}

/* 表单展示tooltip的列 */
.tooltip-col {
  padding-left: 0;
  padding-top: 6px
}

/* 日期范围选择器 */
.daterangepicker .ranges {
  width: 170px !important;
}

.daterangepicker .ranges .input-mini {
  width: 76px !important;
}

/* 适合显示日期的输入框 */
.form-inline .input-date {
  width: 110px;
}

// Deprecated
.action-buttons i {
  margin: 0 3px;
  display: inline-block;
}

.product-media .media-heading,
.user-media .media-heading {
  margin-bottom: 10px;
}

.user-media .media-heading,
.user-media .media-heading a {
  color: inherit;
  font-size: 16px;
}

.user-media .media-object {
  width: 48px;
  height: 48px;
}

.product-media .media-heading {
  font-size: 14px;
}

/* 内部无表单的情况下不设置宽度,避免某一列table被撑开
https://github.com/twbs/bootstrap/issues/14990 */
.user-media .media-body,
.product-media .media-body {
  width: auto;
}
