/* Modals */
.modal-header {
  align-items: center;
}

.modal-header .close {
  font-size: 2rem;
}

.modal-footer {
  background-color: #eff3f8
}

// 实现缩放动画效果
.modal-zoom {
  transform: scale(0.8);
  transition: all .15s linear;
}

.modal-zoom.show {
  transform: scale(1);
}

.modal.modal-zoom .modal-dialog {
  transform: translate(0, 0);
}

.modal-prompt {
  @media (min-width: 576px) {
    .modal-dialog {
      width: 400px;
    }
  }

  .modal-header {
    border-bottom: 0;
    padding: 1.25rem;
  }

  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    font-size: 1.14285rem; // 16px
  }

  .modal-content {
    border-radius: 4px;
    border: none;
  }

  .modal-footer {
    background: none;
    border-top: 0;
    padding: 1.25rem;
  }

  .modal-footer > :not(:last-child) {
    margin-right: .625rem;
  }

  .modal-footer > :not(:first-child) {
    margin-left: .625rem;
  }
}
