/* stylelint-disable declaration-no-important */

/* Paginations */
.pagination > li > span {
  border-width: 1px;
  border-radius: 0 !important
}

.pagination > li > a {
  border-width: 1px;
  border-color: #d4dfe3;
  border-radius: 0 !important;
  color: $link-color;
  background-color: #fafafa;
  margin: 0 -1px 0 0;
  position: relative;
  z-index: auto
}

.pagination > li > a:hover {
  color: $link-color;
  background-color: #eaeff2;
  border-color: #c1d1d7;
  z-index: 1
}

.pagination > li > a:focus {
  background-color: #eaeef2
}

.pagination > li.disabled > a,
.pagination > li.disabled > a:hover {
  background-color: #f9f9f9;
  border-color: #d9d9d9;
  z-index: auto
}

.pagination > li.active > a,
.pagination > li.active > a:hover {
  background-color: $link-color;
  border-color: $link-color;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  z-index: 2
}
