/* Sidebar */
.sidebar {
  width: 190px;
  height: 100%;
  background-color: #fff;
  float: left;
  position: relative;
  border-right: 1px solid #ddd;
}

.sidebar::before {
  content: "";
  display: block;
  width: 190px;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: -1;
  border-right: 1px solid #ddd;
}

.sidebar > dl {
  margin-bottom: 14px; /* åŒbs4 */
}

@media (min-width: 767px) {
  .sidebar.collapse {
    display: block;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .sidebar::before {
    display: none;
  }

  .sidebar + .main-content {
    margin-left: 0;
    clear: both;
  }

  .sidebar.show {
    display: block;
  }
}

.sidebar-header {
  line-height: 36px;
  padding-left: 10px;
  color: #8e8e8e;
  font-size: 14px;
}

.sidebar-header .fa {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  margin-right: 2px;
  width: auto;
}

.sidebar-title {
  vertical-align: middle;
  font-weight: normal;
}

.sidebar-link {
  display: block;
  position: relative;
  color: #393939;
  font-size: 14px;
  padding-left: 45px;
  line-height: 34px;
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar-link:hover,
.sidebar-link:focus {
  color: #393939;
  text-decoration: none;
  background-color: #eee;
}

.sidebar-item {
  margin-bottom: 0;
}

.sidebar-link:focus,
.sidebar-item.active > a,
.sidebar-item.active > a:hover,
.sidebar-item.active > a:focus,
.sidebar-item.active > a:active {
  background-color: #fff;
  color: $link-color;
}

.sidebar-link .badge {
  float: right;
  margin: 8px 10px 7px;
}
