.record-table {
  table-layout: fixed;
}

.record-table th, .record-table td {
  text-align: center;
  overflow: hidden;
}

table.record-table > tbody > tr > td,
table.record-table > tfoot > tr > td {
  vertical-align: middle;
}

.table tbody tr td.table-empty-tips {
  font-size: 16px;
  padding: 20px 0;
  color: rgb(133, 133, 133);
}

.table-header-tips i {
  vertical-align: bottom;
}
