/* stylelint-disable declaration-no-important */
/* 工具类,允许!important来确保生效 */

.img-max {
  width: 100%;
}

.display-none {
  display: none;
}

/* 抵消 .form-inline .form-control */
.form-inline .display-none {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bigger-110 {
  font-size: 110% !important
}

.bigger-120 {
  font-size: 120% !important
}

.bigger-130 {
  font-size: 130% !important
}

.bigger-140 {
  font-size: 140% !important
}

.bigger-150 {
  font-size: 150% !important
}

.bigger-160 {
  font-size: 160% !important
}

.bigger-170 {
  font-size: 170% !important
}

.bigger-180 {
  font-size: 180% !important
}

.bigger-190 {
  font-size: 190% !important
}

.bigger-200 {
  font-size: 200% !important
}

.bigger-210 {
  font-size: 210% !important
}

.bigger-220 {
  font-size: 220% !important
}

.bigger-230 {
  font-size: 230% !important
}

.bigger-240 {
  font-size: 240% !important
}

.bigger-250 {
  font-size: 250% !important
}

.bigger-260 {
  font-size: 260% !important
}

.bigger-270 {
  font-size: 270% !important
}

.bigger-280 {
  font-size: 280% !important
}

.bigger-290 {
  font-size: 290% !important
}

.bigger-300 {
  font-size: 300% !important
}

.bigger-115 {
  font-size: 115% !important
}

.bigger-125 {
  font-size: 125% !important
}

.bigger-175 {
  font-size: 175% !important
}

.bigger-225 {
  font-size: 225% !important
}

.bigger-275 {
  font-size: 275% !important
}

.smaller-90 {
  font-size: 90% !important
}

.smaller-80 {
  font-size: 80% !important
}

.smaller-70 {
  font-size: 70% !important
}

.smaller-60 {
  font-size: 60% !important
}

.smaller-50 {
  font-size: 50% !important
}

.smaller-40 {
  font-size: 40% !important
}

.smaller-30 {
  font-size: 30% !important
}

.smaller-20 {
  font-size: 20% !important
}

.smaller-75 {
  font-size: 75% !important
}
