/* stylelint-disable declaration-no-important */
/* 工具类,允许!important来确保生效 */

.img-max {
  width: 100%;
}

.display-none {
  display: none;
}

/* 抵消 .form-inline .form-control */
.form-inline .display-none {
  display: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bigger-110 {
  font-size: 110% !important
}

.bigger-130 {
  font-size: 130% !important
}
