.table-responsive > .table {
  white-space: nowrap;
}

.table > thead > tr {
  color: #707070;
  background: #f6f6f6;
}

.table-center {
  text-align: center;

  th, td {
    vertical-align: middle;
  }
}
